header {
    display: flex;
    align-items: center;
    gap: 10px;

    /* Aquí es donde metemos el recuadro */
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 20px;
}

header span {
    font-size: 30px;
}

header h2 {
    font-size: 22px;
}
